.nav-button {
    border-right: solid 2px #3b3b3b !important;
    border-left: solid 2px #3b3b3b !important;
    border-bottom: solid 2px #3b3b3b !important;
    border-radius: 1px;
}

.nav-button-inactive-light {
    background-color: #e6e6e6 !important;
    border-bottom: hidden !important;
    border-top: solid 2px #3b3b3b !important;
}

.nav-button-inactive-dark {
    background-color: #1a1e21 !important;
    border-bottom: hidden !important;
    border-top: solid 2px #3b3b3b !important;
}

.scrollable {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.btn-dropdown {
    border: solid 2px #3b3b3b; !important;
}

.input-error {
    box-shadow: 0 0 10px #F93154;
}

.center {
    margin-right: auto !important;
    margin-left: auto !important;
}

.text-link {
    color: #1266F1;
}

.text-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.text-small {
    font-size: smaller;
}
